@use "/src/scss/_abstract/variables" as *;
@use "/src/scss/_abstract/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

.header {
  position: fixed;
  top: 0;
  z-index: 8;

  background-color: $color-white;

  padding: 5px 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

  @include flexRow();
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 100%;

  overflow: hidden;

  > button {
    background-color: transparent;
    border: none;
  }
  .menuButton {
    width: 23px;
    display: flex;
  }

  .navDesktop {
    display: none;
  }

  @media (min-width: $tablet-breakpoint) {
    padding: 18px 32px;

    .menuButton {
      display: none;
    }
    .navDesktop {
      display: block;

      max-width: 70%;

      > ul {
        @include flexRow();
        gap: 40px;
        justify-content: flex-end;

        > li {
          text-transform: uppercase;

          > a {
            font-family: "Varela", sans-serif;
          }

          &:hover {
            transition: 0.6s;
            transform: scale(1.1);
            color: $color-purple;

            text-decoration: underline;
          }
        }
      }
    }
  }
}
