$color-white-gray: #f0f0f0;
$color-white: #ffffff;
$color-purple: #48319d;
$color-black: #000000;
$color-pink: #ed15ff;
$color-input-email: rgba(0, 0, 0, 0.3);
$color-purple-black: rgba(0, 0, 0, 0.15);
$tablet-breakpoint: 769px;
$desktop-breakpoint: 1024px;
