@use "../../scss/_abstract/mixins" as *;

.socialContainer {
  @include flexRow();
  gap: 4px;

  > button {
    background-color: transparent;
    border: none;
  }
}

@media (min-width: 1023px) {
  .socialContainer {
    > button {
      img {
        transition: transform 0.5s;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
